# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/

# Database
data/*.db
data/*.db-journal

# Logs
logs/*.log

# Config mit Secrets
config/basicauth.txt
config/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
